@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using bookstore1.Models.Entity;
@model Book
@{
    ViewData["Title"] = "Edit";
}
<form style="margin:60px;" method="post">
    <input type="hidden" asp-for="@Model.BookId"/>
    <div class="container border cont border-danger ">

        <h1 class="text-danger text-center">Update Book</h1>
       <br/>
       <br/>

       <br/>
        <div class="form-group row ">
            <label asp-for="Title" class="col-sm-2 col-form-label col-form-label-sm text-danger">Titel</label>
            <div class="col-sm-8">
                <input class="form-control form-control-sm " id="colFormLabelSm" placeholder="Enter Titel of Book" asp-for="Title">
                <span asp-validation-for="Title" class="text-black"></span>
               <br/>
            </div>


        </div>
        <br/>

        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label text-danger">price</label>
            <div class="col-sm-8">
                <input class="form-control" id="colFormLabel" placeholder="Enter Price" asp-for="Price">
                <span asp-validation-for="Price" class="text-dark"></span>
            </div>

        </div>
        <br/>
        <br/>
        <div class="form-group row ">

            <label asp-for="AuthorId" class="col-sm-2 col-form-label text-danger">AuthorId</label>
            <div class="col-sm-8">
                <input class="form-control" id="colFormLabel" placeholder="Enter AuthorId" asp-for="AuthorId">
                <span asp-validation-for="AuthorId" class="text-dark"></span>
            </div>


            <br/>
            <br/>

            <br/>
            <br/>

            <select class="form-select" asp-for="CatogryId" aria-label="Default select example" asp-items="@ViewBag.ListItems">
            </select>
           <br/>
           <br/>
            <hr />


           <br/>
           <br/>

            <button type="submit" class="btn btn-outline-danger m-1 save" style="width:150px" id="s"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>

            <a asp-controller="books" asp-action="Index" class="btn btn-outline-dark back" style="width:200px" id="b"><i class="fa-solid fa-backward m-1 "></i>Back to Books</a>
           <br/>

        </div>
        <br/>
        <br/>
    </div>

</form>


