@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using bookstore1.Models.Entity;
@model Author
@{
    ViewData["Title"] = "New";
}

<form style="margin:100px;" method="post">
    <div class="container border cont border-danger ">

        <h1 class="text-danger text-center m-2"><i class="fa-solid fa-person-circle-plus" style="font-size:larger;"></i></h1>
        <h3 class="text-danger text-center text-capitalize">New Author</h3>
       
        <div class="form-group row m-4 ">
            <label asp-for="FirstName" class="col-sm-2 col-form-label col-form-label-sm text-danger">First Name</label>
            <div class="col-sm-8">
                <input class="form-control form-control-sm " id="colFormLabelSm" placeholder="Enter first Name of Author" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-black"></span>
             
            </div>
          
        </div>
        <div class="form-group row m-4">
            <label asp-for="LastName" class="col-sm-2 col-form-label text-danger">Last Name</label>
            <div class="col-sm-8">
                <input class="form-control" id="colFormLabel" placeholder="Enter Last Name of Author" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-dark"></span>
            </div>
          </div>
            

                @*    <select asp-for="option" class="form-select" aria-label="Default select example" asp-items="@ViewBag.Items ">

                </select> *@
                @*  // <span asp-validation-for="option" class="text-danger"></span> *@

               
                <hr />
             <div class="form-group ">
                <button type="submit" class="btn btn-outline-danger m-1 save" style="width:150px" id="s">Save</button>

                <a asp-controller="Author" asp-action="Index" class="btn btn-outline-dark back" style="width:200px" id="b"><i class="fa-solid fa-backward m-1"></i>Back to Authors</a>
              
            </div>
        </div>

</form>


