@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using bookstore1.Models.Entity;
@model Cart
@{
    ViewData["Title"] = "New";
}

<form style="margin:60px;" method="post">
    <div class="container border cont border-danger ">
        <input type="hidden" asp-for="BookId" />
        <span asp-validation-for="BookId" class="text-black"></span>
        <h1 class="text-danger text-center">Add Book To Cart</h1>
       
        <div class="form-group row m-4 ">
            <label asp-for="Titel" class="col-sm-2 col-form-label col-form-label-sm text-danger">Titel</label>
            <div class="col-sm-8">
                <input class="form-control form-control-sm " id="colFormLabelSm" placeholder="Enter Titel of Book" asp-for="Titel">
                <span asp-validation-for="Titel" class="text-black"></span>
               
            </div>


        </div>
       

        <div class="form-group row m-4">
            <label asp-for="price" class="col-sm-2 col-form-label text-danger">price</label>
            <div class="col-sm-8">
                <input class="form-control" id="colFormLabel" placeholder="Enter Price" asp-for="price">
                <span asp-validation-for="price" class="text-dark"></span>
            </div>

        </div>
       
      
        <div class="form-group row m-4">
            <label asp-for="count" class="col-sm-2 col-form-label text-danger">count</label>
            <div class="col-sm-8">
                <input class="form-control" id="colFormLabel" placeholder="Enter count" asp-for="count">
                <span asp-validation-for="count" class="text-dark"></span>
            </div>
         
           <hr />
           

            <button type="submit" class="btn btn-outline-danger m-1 save" style="width:150px" id="s">Save</button>

            <a asp-controller="Cart" asp-action="Index" class="btn btn-outline-dark back" style="width:200px" id="b"><i class="fa-solid fa-backward m-1 "></i>Back to Books</a>
          

        </div>
      
    </div>

</form>


